$background: #140342;
$background2:#2B1C55;
$background3:#282664;
$background4:#1A064F;
$background5:#EEF2F6;
$footerLinkColor:#00a8bd;
$white: #fff;
$black: #000;
$purple: #6440fb;
$para1:#4F547B;
$lightgreen:#00FF84;
$yellow:#E59819;
