@import "mixin";
@import "colors";

.aist-recognition {
  @include displayFlex(column, center, center);
  text-align: center;
  padding: 3rem 1rem;
  > h1 {
    @include heading;
  }
  .recognize-images {
    @include displayFlex(row, space-between, center);
    width: 90%;
    margin: 3rem auto;
  }
}

@media screen and (max-width:850px) {
  .aist-recognition{
    .recognize-images{
      flex-wrap: wrap !important;
    }
  }
}